<h2>Add Characters</h2>

<ul>
{{#characters}}
  <li>
    {{name}} {{npc}} {{enemy}}
  </li>
{{/characters}}
</ul>

<form class="" action="/{{_id}}/updateCharacters/" method="post">
  <p>
    <!-- <img src="" alt=""> -->
    <label for="name">name</label>
    <input type="text" id="name" name="name" value="" >
    <label for="npc">Not playable character</label>
    <input type="checkbox" id="npc" name="npc" value="true" >
    <label for="enemy">enemy</label>
    <input type="checkbox" id="enemy" name="enemy" value="true" >
    <button type="submit">Save Image</button>
  </p>
</form>
