
     <h1>Videogames Collection</h1>
     <p>Go ahead and add your favorites!</p>
     <hr>

     <p>Current list</p>

     <div class="col">
       <!-- <div class="col">1</div> -->

         {{#videogame}}

          <div class="games">

            <h2><a href="/{{_id}}">{{gameName}}</a></h2>

            {{#platforms}}

              <h5>{{.}}</h5>

            {{/platforms}}

            {{#min}}

              <h5>{{min}} {{#max}}- {{max}}{{/max}} players</h5>

            {{/min}}

          </div>

         {{/videogame}}

         <p>
           <a href="/new/">Add a new videogame</a>
         </p>

      </div>
