
<h2>Update Game Info</h2>

  {{#videogame}}
     {{#errorMsg}}
     <div class="alert alert-danger">
       {{.}}
     </div>
     {{/errorMsg}}

     <form class="" action="/{{_id}}/image/" method="post">
       <p>
         <label for="image">Image</label>
         <img src="{{image}}" alt="">
         <input type="image" id="image" name="image" value="" >
         <button type="submit" name="image">Save Image</button>
       </p>
    </form>

    <form class="" action="/{{_id}}/update/" method="post">
       <p>
         <label for="gameName">Name</label>
         <input type="text" id="gameName" name="gameName" value="{{gameName}}" required>
       </p>
       <p>
         <label for="release_date">Release date</label>
         <input type="text" id="release_date" name="release_date" value="{{release_date}}" >
       </p>
       <p>
         <label for="genre">Genre</label>
         <input type="text" id="genre" name="genre" value="{{genre}}" >
       </p>
       <p>
         <label for="publisher">Publisher</label>
         <input type="text" id="publisher" name="publisher" value="{{publisher}}" >
       </p>
       <p>
         <label for="IGNrating">IGNrating</label>
         <input type="text" id="IGNrating" name="IGNrating" value="{{IGNrating}}" >
       </p>
       <p>
         <label for="ESRBrating">ESRBrating</label>
         <input type="text" id="ESRBrating" name="ESRBrating" value="{{ESRBrating}}" >
       </p>
       <p>
         <label for="platforms">Platforms</label>
         <input type="text" id="platforms" name="platforms" value="{{platforms}}" >
       </p>
       <button type="button" name="button">Add Platform</button>
       <p>
         <label for="price">Price</label>
         <input type="number" id="price" name="price" value="{{price}}" >
       </p>
       <p>
         <label for="minPlayers">Minium Players</label>
         <input type="number" id="minPlayers" name="players.min" value="{{min}}" >
       </p>
       <p>
         <label for="maxPlayers">Maxium Players</label>
         <input type="number" id="maxPlayers" name="players.max" value="{{max}}" >
       </p>
       <p>
         <label for="multiPlayer">Multi Player?</label>
         <input type="checkbox" placeholder="{{multiPlayer}}" id="multiPlayer" name="multiPlayer" value="" {{#multiPlayer}}checked{{/multiPlayer}} >
       </p>

       <!-- <p>
         <label for="characters">Characters</label>
         <h3>{{characters}}</h3>
         <input type="text" id="characters" name="characters" value="" >
       </p> -->

       <p>
         <button type="submit">Update Game Info</button>
       </p>
     </form>
     <form class="" action="/{{_id}}/delete/" method="post">
       <p>
         <!-- want an alert window -->
         <label for="delete">Delete</label>
         <input type="image" id="image" name="image" value="" >
         <button type="submit" name="image">Delete Game from Database</button>
       </p>
    </form>
    <a href="/{{_id}}" class="button button-success">Back</a>
  {{/videogame}}
