<!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">

     <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
   </head>
   <body>
     <h2>Add a New Game</h2>

     {{#errorMsg}}
     <div class="alert alert-danger">
       {{.}}
     </div>
     {{/errorMsg}}

     <form class="" action="/new/" method="post">
       <p>
         <label for="name">Name</label>
         <input type="text" id="name" name="name" value="" required>
       </p>
       <p>
         <label for="release_date">Release date</label>
         <input type="text" id="release_date" name="release_date" value="" >
       </p>
       <p>
         <label for="genre">Genre</label>
         <input type="text" id="genre" name="genre" value="" >
       </p>
       <p>
         <label for="IGNrating">IGNrating</label>
         <input type="text" id="IGNrating" name="IGNrating" value="" >
       </p>
       <p>
         <label for="ESRBrating">ESRBrating</label>
         <input type="text" id="ESRBrating" name="ESRBrating" value="" >
       </p>
       <p>
         <label for="publisher">Publisher</label>
         <input type="text" id="publisher" name="publisher" value="" >
       </p>
       <p>
         <label for="platforms">Platforms</label>
         <input type="text" id="platforms" name="platforms" value="" >
       </p>
       <p>
         <label for="price">Price</label>
         <input type="number" id="price" name="price" value="" >
       </p>
       <p>
         <label for="minPlayers">Minium Players</label>
         <input type="number" id="minPlayers" name="minPlayers" value="" >
       </p>
       <p>
         <label for="maxPlayers">Maxium Players</label>
         <input type="number" id="maxPlayers" name="maxPlayers" value="" >
       </p>
       <p>
         <label for="multiPlayer">Multi Player?</label>
         <input type="checkbox" id="multiPlayer" name="multiPlayer" value="" >
       </p>

       <p>
         <label for="characters">Characters</label>
         <input type="text" id="characters" name="characters" value="" >
       </p>
       <p>
         <button type="submit">Add game</button>
       </p>
     </form>

     <script type="text/javascript" src=""></script>
     <script src="https://cdn.shoelace.style/1.0.0-beta20/shoelace.js"></script>
   </body>
 </html>
