
    {{#videogame}}
      <div class="games">

        <h2>{{gameName}}</h2>
        <h3>{{release_date}}</h3>
        <h3>{{genre}}</h3>
        <h3>{{publisher}}</h3>
        <h4>{{IGNrating}}</h4>
        <h4>{{ESRBrating}}</h4>

        <ul>
          {{#platforms}}
          <li>
            <h3>{{.}}</h3>
          </li>
          {{/platforms}}
        </ul>

        <h3>${{price}}</h3>

        {{#players}}
          {{#min}}

            <h5>{{min}} {{#max}}- {{max}}{{/max}} players</h5>

          {{/min}}
        {{/players}}

        <a href="/{{_id}}/addCharacters/" class="button button-danger" >Add Characters</a>

        <ol>
          {{#characters}}
            <li>
              {{chName}}
              {{#npc}}Non playable{{/npc}}
              {{^npc}}Playable{{/npc}}
              {{#enemy}}Enemy{{/enemy}}
            </li>
          {{/characters}}
        </ol>

        <a href="/{{_id}}/modify/" class="button button-info">Edit this Videogame</a>
      </div>

  {{/videogame}}

  <a href="/" class="button button-success">Back</a>
